In [1]:
a = [1,2,3]
b= a
a.append(4)
b

[1, 2, 3, 4]

In [3]:
class Gizmo:
  def __init__(self):
    print('Gizmo id: %d' % id(self))

In [4]:
x = Gizmo()

Gizmo id: 139742849936800

In [6]:
y = Gizmo()*10

Gizmo id: 139742849938480

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [7]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x']

In [8]:
charles = {'name' : 'Charles L. Dodgson', 'born' : 1832}
lewis = charles

In [10]:
lewis is charles

True

In [11]:
id(charles), id(lewis)

(139742370561728, 139742370561728)

In [13]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [14]:
alex = {'name' : 'Charles L. Dodgson', 'born' : 1832, 'balance' : 950}
alex == charles

True

In [15]:
alex is charles

False

In [16]:
t1 = (1,2,[30,40])
t2 =  (1,2,[30,40])
t1 == t2, t1 is t2

(True, False)

In [17]:
id(t1[-1])

139742369211392

In [18]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 139742369211392)

In [19]:
t1 == t2

False

In [23]:
l1 = [3, [55, 44], (7,8,9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [25]:
l2 == l1

True

In [26]:
l2 is l1

False

In [27]:
l1 = [3, [66, 55, 44], (7,8,9)]
l2 = list(l1)

In [28]:
l1.append(100)

In [30]:
l1[1].remove(55)
print('l1:',l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [31]:
l2[1] += [33,22]

In [33]:
l2[2] += (10,11)

print('l1:',l1)
print('l2:',l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [34]:
class Bus:
  def __init__(self, passengers = None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)
  def pick(self, name):
    self.passengers.append(name)
  def drop(self, name):
    self.passengers.remove(name)

In [35]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(139741954428784, 139741954427200, 139741954425904)

In [36]:
bus1.drop('Bill')
bus1.passengers,bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [37]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(139741960286464, 139741960286464, 139741949552512)

In [38]:
a = [10,20]
b = [a,30]
a.append(b)
a

[10, 20, [[...], 30]]

In [39]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [41]:
def f(a,b):
  a += b
  return a
x = 1
y = 2
f(x,y),(x,y)

(3, (1, 2))

In [42]:
a = [1,2]
b =[3,4]
f(a,b),(a,b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [43]:
t = (10,20)
u = (30,40)
f(t,u),(t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [51]:
class HauntedBus:
  def __init__(self, passengers = []):
    self.passengers = passengers
  def pick(self, name):
    self.passengers.append(name)
  def drop(self, name):
    self.passengers.remove(name)

In [59]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [60]:
bus1.pick('Charile')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charile']

In [61]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie', 'Carrie', 'Carrie']

In [62]:
bus3 = HauntedBus()
bus3.passengers

['Carrie', 'Carrie', 'Carrie']

In [63]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Carrie', 'Carrie', 'Dave']

In [64]:
bus2.passengers is bus3.passengers

True

In [65]:
bus1.passengers

['Bill', 'Charile']

In [66]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Carrie', 'Carrie', 'Dave'],)

In [68]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [69]:
class TwilightBus:
  def __init__(self, passengers = None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = passengers
  def pick(self, name):
    self.passengers.append(name)
  def drop(self, name):
    self.passengers.remove(name)

In [70]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [ ]:
class TwilightBus:
  def __init__(self, passengers = None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)
  def pick(self, name):
    self.passengers.append(name)
  def drop(self, name):
    self.passengers.remove(name)

In [71]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [72]:
import weakref
s1 = {1,2,3}
s2 = s1
def bye():
  print('Gone with the wind...')
ender = weakref.finalize(s1, bye)
ender.alive

True

In [73]:
del s1
ender.alive

True

In [74]:
s2 = 'spam'

In [75]:
ender.alive

False